 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flur is an app that creates a playlist for you based on your mood!">
    <meta name="author" content="Team Flur">

    <title>Flur. Your Mood, Your Music.</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="../static/css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="../static/css/custom.css" rel="stylesheet">
	<link href="../static/css/owl.carousel.css" rel="stylesheet">
    <link href="../static/css/owl.theme.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/animate.css" rel="stylesheet">

	<!--Favicon -->
 	 <link rel="icon" type="image/png" href="../static/img/favicon.png">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="../static/css/magnific-popup.css"> 
	
	<script src="../static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#about"> <img class="img_scroll" src="../static/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home"><img src="../static/img/flur.png" height="130%" style="margin-top:-15px"/></a>

			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="menuItem"><a href="#about">About</a></li>
					<li class="menuItem"><a href="#video-container">Application</a></li>
					<li class="menuItem"><a href="#team">Team</a></li>
					<li class="menuItem"><a href="#thanks">Thanks</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is -->
	<div id="about" class="content-section-b" style="border-top: 0">
		<div class="container" style="color:#fff">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Our Product</h2>
				<p class="lead" style="margin-top:0">Flur finds music based on your mood!</p>
				
			</div>
			
			<div class="row">
			
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="../static/img/icon/watch.svg" alt="Generic placeholder image">
				  <h3>Time Saver</h3>
				  <p class="lead">Save time scrolling through spotify by using Flur to generate your favorite tunes.</p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="../static/img/icon/retina.svg" alt="Generic placeholder image">
				   <h3>Secure.</h3>
				   <p class="lead">Our product is secure against SQL Injection attacks and is fun and easy to use. </p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="../static/img/icon/beats.svg" alt="Generic placeholder image">
				   <h3>Music.</h3>
					<p class="lead">Music can be played from playlists generated by user input!</p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
		</div>
	</div>

	<div id="video-container" class="header-unit">
      <div id="container">
	  
	  
		{% if form == True %}
		<center><form action="/generate" method="post">
			<h1>Please enter the duration (hours).</h1>
			<input type="number" step="0.01" name="duration" alt="Duration"></input>
			<h1>Please enter the preferred genre.</h1>
			<input type="text" name="genre" alt="Genre"></input>
			<h1>Please enter the lower bound of the song's popularity rating.</h1>
			<input type="number" step = "1" name = "popularity-lower"></input>
			<h1>Please enter the upper bound of the song's popularity rating.</h1>
			<input type="number" step="1" name="popularity-upper"></input>
			<br>
			<input color="black" type="submit" value="Submit"></input>
		</form></center>
		{% endif %}
		{% if form == False %}
		<center><iframe width="100%" height="100%" src={{source}} frameborder = "0" allowtransparency = "true"></iframe></center>
		{% endif %}
		
		
      </div>
    </div>
  <!-- /.container -->

<!-- Credits -->
  <div id="team" class="content-section-c">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2 style="color:#fff">Team</h2>
          <p class="lead" style="color:#fff; margin-top:0">We have an awesome team of hackers!</p>
        </div>

        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/img/joe.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Joe Rogers</h3>
              <p style="color:#fff; margin-top:0"> Joe is a Computer Science major at the University of Pittsburgh, and is excited to be working with this incredible team! <br> <a href="https://www.linkedin.com/in/joseph-rogers-6b327a103?trk=nav_responsive_tab_profile_pic" style="color:#fff"><i class="fa fa-linkedin"></i> Add me on LinkedIn</a> </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/img/thomas.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Thomas Lord</h3>
              <p style="color:#fff; margin-top:0"> Thomas is a Computer Science major at Case Western Reserve University. He doesn't like MySQL very much. <br><a href="https://www.facebook.com/tmaspoopdek?fref=ts" style="color:#fff"><i class="fa fa-facebook"></i> Add me on Facebook</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row tworow">
        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/img/forrest.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Forrest Wang</h3>
              <p style="color:#fff; margin-top:0"> Forrest is a Computer Science major at the University of Pittsburgh. He is a big fan of many of the songs on these lists.  <br><a href="https://www.facebook.com/CanadianPianoMan?fref=ts" style="color:#fff"><i class="fa fa-facebook"></i> Add me on Facebook</a> </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/img/madhur.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Madhur Malhotra</h3>
              <p style="color:#fff; margin-top:0"> Madhur is a Computer Engineering major from Pitt. He loves graphic design!  <br><a href="http://twitter.com/mAAdhcity" style="color:#fff"><i class="fa fa-twitter"></i> @mAAdhcity</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner Download -->
  <div  id="thanks" class="content-section-d">
    <div class="container ext-center">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title white">
          <h2>Thank you!</h2>
          <p class="lead" style="color:#fff; margin-top:0">We hope you liked our wonderful hack!</p>
        </div>
        <div class="mockup-content">
          <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
            <button type="button "><span>Acknowledgements</span></button>
            <div class="morph-content">
              <div>
                <div class="content-style-form content-style-form-4 ">
                  <h2 class="morph-clone" style="color:#fff">Acknowledgements</h2>
                  <form>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-center"><a href="https://github.com/twbs/bootstrap" target="_blank" style="color:#fff">Twitter Bootstrap</a><br>
          <a href="http://www.andreagalanti.it/lab/flatfy/" target="_blank" style="color:#fff">Flatfy</a><br>
           <!--Copy and Paste this line and replace link and content-->
           <!---Add More Acknowledgements Here -->
         </p>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.js"></script>
	<script src="../static/js/owl.carousel.js"></script>
	<script src="../static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="../static/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="../static/text/javascript" src="js/jquery.corner.js"></script> 
	<script src="../static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="../static/js/classie.js"></script>
	<script src="../static/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../static/js/jquery.magnific-popup.js"></script> 
</body>

</html>
