 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flur is an app that creates a playlist for you based on your mood!">
    <meta name="author" content="Team Flur">

    <title>Flur. Linkin Park Mode.</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/lss/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="font-awesome/lss/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="../static/lss/general.css" rel="stylesheet">

	 <!-- Owl-Carousel -->
    <link href="../static/lss/custom.css" rel="stylesheet">
	<link href="../static/lss/owl.carousel.css" rel="stylesheet">
    <link href="../static/lss/owl.theme.css" rel="stylesheet">
	<link href="../static/lss/style.css" rel="stylesheet">
	<link href="../static/lss/animate.css" rel="stylesheet">

	<!--Favicon -->
 	 <link rel="icon" type="image/png" href="../static/lmg/lavicon.png">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="../static/lss/magnific-popup.css">

	<script src="../static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- FullScreen -->
    <div class="intro-header">
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down ">
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#video-container"> <img class="img_scroll" src="../static/lmg/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>

	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home"><img src="../static/lmg/linkintitle.png" height="250%" style="margin-top:-15px"/></a>

			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="menuItem"><a href="#video-container">App</a></li>
					<li class="menuItem"><a href="#team">Invaders</a></li>
					<li class="menuItem"><a href="#thanks">Thanks</a></li>
				</ul>
			</div>

		</div>
	</nav>

  <div id="video-container" class="header-unit">
      <div id="container">
	  {% if form==True %}
    <center><form action="/generate" method="post">
      <br><br><br>
      <h1>Duration:</h1>
      <input type="number" step="0.01" name="duration" alt="Duration"></input><span style="font-size:24px;"> Hours</span>
      <br><br><input color="black" type="submit" value="Submit"></input><br>
      <br><a class="btn btn-embossed btn-danger" href="/" role="button" style="background-color:#961b20; border-color:#961b20;color:#fff">Normal Mode</a><br><br>
	  <input type="hidden" name="page" value="linkin"></input>
    </form></center>
	{% endif %}
	
	{% if form == False %}
		<center><iframe width="320px" height="400px" src={{source}} frameborder = "0" allowtransparency = "true"></iframe></center>
	{% endif %}
      </div>
    </div>
  <!-- /.container -->

<!-- Credits -->
  <div id="team" class="content-section-c">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2 style="color:#fff">Invaders</h2>
          <p class="lead" style="color:#fff; margin-top:0">Listed below are those guilty for invading our app.</p>
        </div>

        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/lmg/rob.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Rob Bourdon</h3>
              <p style="color:#fff; margin-top:0">  <br></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/lmg/brad.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Brad Delson</h3>
              <p style="color:#fff; margin-top:0"><br></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row tworow">
        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/lmg/mike.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Mike Shinoda</h3>
              <p style="color:#fff; margin-top:0"><br></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/lmg/dave.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Dave Farrell</h3>
              <p style="color:#fff; margin-top:0"><br></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row tworow">
        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/lmg/joe.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Joe Hahn</h3>
              <p style="color:#fff; margin-top:0"><br></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="../static/lmg/chester.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Chester Bennington</h3>
              <p style="color:#fff; margin-top:0"><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner Download -->
  <div  id="thanks" class="content-section-d">
    <div class="container ext-center">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title white">
          <h2>Thank you!</h2>
          <p class="lead" style="color:#fff; margin-top:0">We hope you liked our wonderful hack!</p>
        </div>
        <div class="mockup-content">
          <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
            <button type="button "><span>Acknowledgements</span></button>
            <div class="morph-content">
              <div>
                <div class="content-style-form content-style-form-4 ">
                  <h2 class="morph-clone" style="color:#fff">Acknowledgements</h2>
                  <form>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-center"><a href="https://github.com/twbs/bootstrap" target="_blank" style="color:#fff">Twitter Bootstrap</a><br>
          <a href="http://www.andreagalanti.it/lab/flatfy/" target="_blank" style="color:#fff">Flatfy</a><br>
           <!--Copy and Paste this line and replace link and content-->
           <!---Add More Acknowledgements Here -->
         </p>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.js"></script>
	<script src="../static/js/owl.carousel.js"></script>
	<script src="../static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="../static/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();

		});
	  });

	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="../static/js/jquery.corner.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="../static/js/classie.js"></script>
	<script src="../static/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../static/js/jquery.magnific-popup.js"></script>
</body>

</html>
