<!DOCTYPE>
<html>
<title>Playlist</title>
<head>

</head>
<body>


<h1>Here is your playlist filtered by the following genre: {{ genre }}</h1>
<br /><br />

{% set source = "https://embed.spotify.com/?uri=spotify:trackset:Flur:" %}
{% for song in list_of_ids %}
{%	set source = source + song[31:] + "," %}
{%  set source = source.rstrip(",") %}
{% endfor %}

<!---<iframe src={{source}} frameborder = "0" allowtransparency = "true"></iframe>--->

<a href={{source}}>dat playlist thooo</a>

</body>

</html>
